body{
    overflow-x: hidden;
    position: relative;
}

.dashboard-body{
    overflow-y: hidden;
    height: 100vh;
}

.projects-and-boards{
    margin-top: 2rem;
}

.project{
    padding: 1rem;
    background-color: inherit;
}

.project-name{
    width: 100%;
}

.project-boards{
    width: 100%;
    padding: 2rem;
}

.search_board{
    width: 60%;
    border-radius: 0.4rem;
}

.board{
    /*border-radius: 1rem;*/
    color: white;
    
    width: 25%;
    height:15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.board-insight{
    padding: 0 0.8rem;
    border: 2px solid transparent;
    border-radius: 1rem;
    background: 
        linear-gradient(to bottom, rgb(43, 43, 139), #ffffff 90%), 
        linear-gradient(to bottom, blue, #ffffff 90%); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    height: inherit;
    width: 100%;
    position: relative;
}


  
  
  
.board:hover .board-buttons{
    display: block;
}

.board-details{
    margin-top: 1.5rem;
    text-align: center;
    justify-content: center;
    overflow-wrap:break-word;
    font-weight: 400;
}

.board-details p:first-of-type{
    font-weight: bold;
}

.board-button-div{
    border: 2px solid transparent;
    background-color: inherit;
    background: 
        linear-gradient(to bottom, white, white), 
        linear-gradient(to bottom, gray, #ffffff 90%); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-buttons{
    display: none;
    position: absolute;
    left: 15%;
    bottom: 1rem;
}