.projectContainer{
    padding: 0 3rem;
    margin-bottom: 4rem;
    position: relative;
}

.projectName{

}

.projectDescription{

}

.editaddTask{
    background-color: aliceblue;
    height: 25rem;
    width: 20rem;
    border: 2px solid gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -140%);
    padding: 2rem;
}
#editaddTask{
    display: none;
}

.closeTaskEdit{
    border: none;
    background: transparent;
    float: right;
}

.boardParent{
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
}

.eachboard{
    
    border: 0.05rem solid black;
    border-radius: .5rem;
}

.eachboardsubdiv{
   display: flex;
   flex-direction: row;
}

.boardNameInput{
    margin: 1rem auto;
    border: none;
    height: 2rem;
    padding: 0;
    width: 75%;
    font-size: 1.5rem;
    font-weight: bold;
}

.boardNameinput:focus{
    border: 0.01rem solid black;
    border-radius: 0.5rem;
}

.boardNameText{
    font-size: medium;
    font-weight: bold;
}

.deleteBoard{
    float: right;
    margin-right: .5rem;
    border: none;
    border-radius: 2rem;
    background-color: transparent;
}

.boardTasks{
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    max-height: 19rem;
    overflow-y:auto;
}

.eachboardTask{
    align-self: center;
    width: 90%;
    margin: .3rem;
    background-color: aliceblue;
    padding: 0 1rem;
    border-radius: .5rem;
    
}

.eachboardTask:hover{
    border: 1px solid gray;
}

.eachboardTaskCancel{
    float: right;
    border: none;
    border-radius: 2rem;
    background-color: transparent;
    display: none;
}

.eachboardTask:hover .eachboardTaskCancel{
    display: flex;
}

.eachboard_addTask{
    align-self: center;
    width: 90%;
    background-color:rgb(197, 221, 243);
    border-radius: .5rem;
    
}