body .editprofile-container{
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
}

.editprofile-container .editprofile-form{
    width: 50%;
    height: 50%;
}



.editprofile-form >  button{
    float: right;
    margin-bottom: 1rem;
}