.footerBlack{
    display: flex;
    float: none;
    background-color: whitesmoke;
    padding: 1.5rem;
    z-index: 0;
}

.hr_div{
    width: 100%;
}

.logofooter{
    float: left;
    width: 30%;
}

.centerfooter{
    justify-content: center;
    text-align: center;
    align-items: center;
    float: left;
    width: 40%;
    
}

.contactfooter{
    float: right;
}