.headline{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    background: 
        radial-gradient(circle farthest-corner at bottom left, skyblue, white 30%, transparent),
        radial-gradient(circle farthest-corner at bottom right, skyblue, white 30%, transparent)
        
    ;
    
    
}

.headline-child{
    height: 92%;
    width: 40%;
    margin: auto;
}

.center-text{
    text-align: center;
}


.aim-div{

}

.aim-subdiv{
    padding: 1rem 7rem;
}

.three-divs{
    
}

.three-subdivs{
    padding: 1rem;
    border-radius: 1rem;
    
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}


.website-content{
    padding: 0 8rem;
}


.contentpic-div{
    
    height: 17rem;
    padding: 0;
    border-radius: 1rem;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 10px solid white;
    
}

.contentpic-div .contentpic{
    width: 100%;
    height: 100%;
    border-radius: 1rem 1rem 0 0;
}

.w-60{
    width: 60%;
    font-size: 0.8rem;
}

/*
footercd n{
    height: 5rem;
}
*/

@media only screen and (min-width: 300px) and (max-width: 1007px){
    .headline{
        height: 30vh;
    }
    .aim-div{
        padding: 0 5rem;
        /*height: 100vh;*/
    }

    .three-divs{
        margin: 1rem 0;
    }

    .package-contents{
       display: flex;
       flex-direction: column;
    }

    .package-text{
        order: 1;
    }

    .package-contents  > .contentpic-div{
        order: 2;
    }
    
}