
/*
#personallogin{
    display: block;
}

#businesslogin{
    display: none;
}
*/
.navbar-topics{
    margin: auto;
}

.all{
    background-color: white;
    width: 100%;
    
    position:relative;
    height: 100%;
}

.all-login{
    width: 30%;
    background-color: black;
    
    position: absolute;
}

.text-login{
    position: relative;
    background-color: inherit;
    height: 100vh;
}

.text-login-subdiv{
    position: absolute;
    top: 50%;
    left: 20%;
    background-color: inherit;
}

.input-login{
    position: relative;
}

.input-login-subdiv{
    
    position: absolute;
    width: 60%;
    top: 30%;
    right: 30%;
    border: 2px solid #4b43435f;
    border-radius: 1rem;
}

.input-signup{
    position: relative;
    height: 45rem;
}

.input-signup-subdiv{
    
    position: absolute;
    width: 60%;
    top: 10%;
    right: 30%;
    border: 2px solid #4b43435f;
    border-radius: 1rem;
    z-index: 13;
}

#personalSignupForm{
    display: block;
}

#businessSignupForm{
    display: none;
}

#personalLoginForm{
    display: block;
}

#businessLoginForm{
    display: none;
}

@media only screen and (max-width: 767px){
    .text-login{
        position: relative;
        background-color: inherit;
        height: 30vh;
    }

    .text-login-subdiv{
        position: absolute;
        top: 30%;
        left: 10%;
        background-color: inherit;
    }

    .input-login{
        position: relative;
        height: 30rem;
    }
    
}