.container-fluid > .profile-page-container{
    min-height: 90vh;
    background-color: white;
}

.profile-name-img .top-profile-design{
    position: relative;
    height: 40vh;
    background: radial-gradient(circle farthest-corner at bottom left, skyblue 50%, white, transparent);
}

.profile-name-id{
    margin-top: 1rem;
    height: 35%;   
    text-align: center;
    justify-content: center; 
}

#profile-name{
    font-weight: bold;
}

.profile-edit{
    text-align: center;
    justify-content: center;
}

.profile-edit button{
    margin: 0 1rem;
}

.task-show{
    margin-top: 2rem;
    text-align: center;
    justify-content: center;
    
}

.profile-page-container #profile-img{
    height: 10rem;
    width: 10rem;
    position: absolute;
    border-radius: 50%;
    top: 40%;
    left: 10%;
    z-index: 1;
}

/*
.accordion{
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
}


.accordion-section .accordion-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    padding: 0.5rem;
    background-color: #ddd; 
}

.accordion-section .accordion-header p:first-of-type{
    margin: 0;
}
.accordion-section .accordion-header span i{
    transition: transform 0.3s;
    float: right;
    padding-right: 1rem;
}

.accordion-content{
    display: none;
    padding: 0.5rem;
}

@media screen and (min-width:414px) {
    
    .accordion-section{
        margin-inline: 5rem;
    }
}
*/

.accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
  }
  
  .accordion-section .accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    padding: 0.5rem;
    background-color: #ddd; /* Add a background color for better visibility */
  }
  
  .accordion-section .accordion-header p {
    margin: 0; /* Remove default margin */
  }
  
  .accordion-section .accordion-header span i {
    transition: transform 0.3s; /* Add a smooth transition for the icon */
  }
  
  .accordion-section.active .accordion-header span i {
    transform: rotate(45deg); /* Rotate the icon when section is active */
  }
  
  .accordion-content {
    padding: 0.5rem;
  }
  .accordion-content-open{
    display: block;
    
  }

  .list-type-none{
    list-style-type: none;
  }
  
  @media screen and (min-width: 414px) {
    .accordion-section {
      margin-inline: 5rem;
    }
  }
  